<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Eventos - Home</title>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-700 text-white p-6 text-center">
        <h1 class="text-3xl font-bold">Bem Vindo a Evento+</h1>
        <p class="mt-2">Organizando momentos inesqueciveis para você!</p>
        <div class="my-3">
            <a class="text-lg hover:underline mx-2" href="#">Home</a>
            <a class="text-lg hover:underline mx-2" href="#">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="#">Contatos</a>
            <a class="text-lg hover:underline mx-2" href="#">Portifólio</a>
        </div>

        <script src="https://unpkg.com/lucide@latest"></script>    
    </header>

    <div class="min-h-[80vh] container mt-4 mx-auto grid md:grid-cols-2 gap-8 items-center p-10">
        <div class="grid md:grid-rows-2 md:grid-cols-2 gap-4">
            <img src="./img/Evento-Corporativo.jpg" alt="Eventos Corporativos" class="h-64 min-w-80 w-auto rounded-lg shadow-md object-cover">
            <img src="./img/show.jpg" alt="Eventos..." class="h-64 min-w-80 w-auto rounded-lg shadow-md object-cover">
            <img src="./img/conferencia.jpg" alt="Eventos..." class="h-64 min-w-80 w-auto rounded-lg shadow-md object-cover">
            <img src="./img/festa.jpg" alt="Eventos..." class="h-64 min-w-80 w-auto rounded-lg shadow-md object-cover">
        </div>
        <div class="block text-start ml-4">
            <h2 class="text-3xl font-bold mb-4 text-brand-azul">Nosso Portifólio</h2>
            <p class="mb-4">
                Ao longo dos anos, realizamos diversos eventos que marcaram a vida de nossos clientes.
                Desde casamentos inesquecíveis, grandes shows e eventos corporativos de alto padrão.
                Sempre buscamos superar as expectativas com excelência.
            </p>
            <ul class="list-disc pl-6 space-y-2">
                <li>Casamentos com mais de 300 convidados</li>
                <li>Shows so vivo com estrutura completa</li>
                <li>Conferências empresariais para mais de 500 pessoas</li>
                <li>Eventos sociais intimistas e personalizados</li>
            </ul>
        </div>
    </div>

    <footer class="bg-blue-700 text-white text-center p-4 mt-8">
        <p>&copy; 2025 Eventos+. Todos os direitos reservados</p>
    </footer>

    <script>lucide.createIcons()</script>
</body>
</html>